NOTIFICATION_EMAIL=
NOTIFICATION_EMAILS=you@example.com,another@example.com
NOTIFICATION_PHONE_NUMBER=
NOTIFICATION_PHONE_NUMBERS=+819012345678,+818012345678
SEED_URLS=https://www.hermes.com/jp/ja/
ALLOWED_HOSTS=hermes.com
NOTIFICATION_TIMEZONE=Asia/Tokyo
SCHEDULE_MINUTES=5
TARGET_KEYWORDS=シェーヌ・ダンクル,シェーヌダンクル,chaine d'ancre,chaine-d-ancre,chaîne d'ancre
TARGET_SIZES=GM,TGM
NOTIFY_ON_FIRST_AVAILABLE=true
PAGE_LIMIT=12
FETCH_DELAY_MS=700
